.header{
    background-color: #ffffff;
    position:static;
    margin: 0;

}

h1{
    background-color: #4aaaa5;
    padding: 20px;
    width:200px;
}

.nav{
    float:right;
}

#headshot{
    height:200px;
    width: 200px;
}

.clearfix::after{
    content:" ";
    clear:both;
    display:block;

}