body{
    background-image: url('background.png');
    margin:0 auto;
}
.header{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top :0;
    height: 100px;
    border-bottom: 1px solid #dddddd;

}

.content{
    width:960px;
    background-color:#ffffff;
    border: 1px solid #dddddd;
    margin: 10px auto;
    
}

h1{
    background-color: #4aaaa5;
    padding: 20px;
    width:200px;
}

.nav{
    position:absolute;
    top:0;
    right:0;
}

#headshot{
    height:200px;
    width: 200px;
}

/* .clearfix::after{
    content:" ";
    clear:both;
    display:block;

} */